{% extends "home.html" %}
{% load static %}

{% block content %}
<div class="settings-container">
    <h2>Notification Settings</h2>
    <div class="notification-toggle">
        <label class="switch">
            <input type="checkbox" id="notificationSwitch" {% if notifications_enabled %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <span id="notifStatusText">
            {% if notifications_enabled %}Notifications are ON{% else %}Notifications are OFF{% endif %}
        </span>
    </div>
</div>


<!-- list will be displayed only when notifications are present and notification are enabled -->
<!-- Notification List -->
    {% if notifications and notifications_enabled %}
        <div class="notification-list-container">
            <h3>Your Notifications</h3>
            <button class="clear-all_notifications">Clear All</button>
            <div class="list-box">
                <ul id="notifList">
                {% for notif in notifications %}
                    <li id="notif_{{ notif.notification_id }}">
                        <span class="notif-message">{{ notif.message }}</span>
                        <button class="mark-read-btn" data-notif-id="{{ notif.notification_id }}">Mark as Read</button>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    {% endif %}

<link rel="stylesheet" href="{% static 'css/settings_notification.css' %}">
<script src="{% static 'js/settings_notification.js' %}"></script>
{% endblock %}